*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--main-font);
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);

  ::-webkit-scrollbar {
    width: 10px;
    background: #f5f6f7;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--inactive);
    border: 2px solid #f5f6f7;
    border-radius: 5px;
  }
}
main {
  display: flex;
  flex-direction: column;
}


button {
  margin: 0;
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

a {
  display: inline-flex;
  font-family: inherit;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

input,
textarea {
  font: inherit;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--inactive);
    opacity: 1;
  }
}